.cardPlayer {
  transition: all 0.4s;
}
.cardPlayer:hover {
  background-color: #0baa2ec2;
  translate: 0 -25px;
  transition: all 0.4s;
}

.seleccionPlayer {
  position: relative;
  background-color: #0baa2ec2;
  translate: 0 -25px;
  transition: all 0.4s;
}

.seleccionPc {
  position: relative;
  background-color: #0baa2ec2;
  translate: 0 25px;
  transition: all 0.4s;
}

#cardPc-earth,
#cardPc-fire,
#cardPc-water {
  transition: all 0.4s;
}

.card {
  width: 125px;
}

.modalSnake {
  background-color: #222a;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 300;
  transition: all 0.2s;
}

.modalSnake-center {
  background-color: #fff;
  border-radius: 10px;
}
