* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
  position: relative;
}
/* 
.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} */

.title {
  font-family: sans-serif;
  font-weight: 10px;
  text-align: center;
}

.counterContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  margin: 10px;
  background-color: #4a3a;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.counter {
  text-align: center;
  font-size: 50px;
  color: #4f3;
}
