.cardPlayer {
  transition: all 0.4s;
}
.cardPlayer:hover {
  background-color: #0baa2ec2;
  translate: 0 -25px;
  transition: all 0.4s;
}

.seleccionPlayer {
  position: relative;
  background-color: #0baa2ec2;
  translate: 0 -25px;
  transition: all 0.4s;
}

.seleccionPc {
  position: relative;
  background-color: #0baa2ec2;
  translate: 0 25px;
  transition: all 0.4s;
}

#cardPc-tijera,
#cardPc-papel,
#cardPc-piedra {
  transition: all 0.4s;
}
